<h1>Listing feature_statuses</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Displayname</th>
  </tr>

<% @feature_statuses.each do |feature_status| %>
  <tr>
    <td><%=h feature_status.name %></td>
    <td><%=h feature_status.displayName %></td>
    <td><%= link_to 'Show', feature_status %></td>
    <td><%= link_to 'Edit', edit_feature_status_path(feature_status) %></td>
    <td><%= link_to 'Destroy', feature_status, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New feature_status', new_feature_status_path %>