<h1>New feature</h1>

<% form_for(@feature) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :roi %><br />
    <%= f.text_field :roi %>
  </p>
  <p>
    <%= f.label :size %><br />
    
	<%= select_tag 'feature[size]', 
               options_for_select([1, 2, 3, 5, 8, 13],@feature.size) %>	
	</p>
  <p>
    <%= f.label :priority %><br />
    <%= f.text_field :priority %>
  </p>
  <p>
    <%= f.label :status %><br />
    <%= select_tag 'feature[status]', 
               options_for_select(FeatureStatus.all.collect { |c| [c.displayName, c.name] },@feature.status) %>
  
  </p>
  <p>
    <%= f.label :iteration %><br />
    <%= f.text_field :iteration %>
  </p>
  <p>
    <%= f.label :release %><br />
    <%= f.text_field :release %>
  </p>
  <p>
    <%= f.label :category %><br />
         <%= select_tag 'feature[category]', 
               options_for_select([["Feature","feature"], ["Defect","defect"], ["Spike","spike"]],@feature.category) %>
  </p>
  <p>
    <%= f.label :acceptanceCriteria %><br />
    <%= f.text_area :acceptanceCriteria %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', features_path %>