<p>
  <b>Title:</b>
  <%=h @feature.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @feature.description %>
</p>
<p>
  <b>Roi:</b>
  <%=h @feature.roi %>
</p>

<p>
  <b>Size:</b>
  <%=h @feature.size %>
</p>

<p>
  <b>Priority:</b>
  <%=h @feature.priority %>
</p>

<p>
  <b>Status:</b>
  <%=h @feature.status %>
</p>

<p>
  <b>Iteration:</b>
  <%=h @feature.iteration %>
</p>

<p>
  <b>Release:</b>
  <%=h @feature.release %>
</p>

<p>
  <b>Category:</b>
  <%=h @feature.category %>
</p>

<p>
  <b>Acceptancecriteria:</b>
  <%=h @feature.acceptanceCriteria %>
</p>

<p>
  <b>Donedate:</b>
  <%=h @feature.doneDate %>
</p>


<%= link_to 'Edit', edit_feature_path(@feature) %> |
<%= link_to 'Back', features_path %>